<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Set reminders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="reminder">


   <h4>When do you prefer to have your first reminder?</h4>

   <ion-item>

    <ion-label>Choose your first time...</ion-label>
    <ion-datetime edited="false" displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="myReminder1"></ion-datetime>
  </ion-item>

   <ion-item *ngIf="myReminder1" text-wrap>
     <h4>tips:</h4><br>
     <h4>First reminder will tell you when to go to toilet in an usual morning.</h4>
   </ion-item>  

   <h4>When do you prefer to have your second reminder?</h4>

   <ion-item>

    <ion-label>Choose your second time...</ion-label>
    <ion-datetime edited="false" displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="myReminder2" ></ion-datetime>
  </ion-item>

   <ion-item *ngIf="myReminder2" text-wrap>
     <h4>tips:</h4><br>
     <h4>Second reminder is ok! Now just wait for your reminders.</h4>
   </ion-item>  

  <br>
  <ion-item >
   <button ion-button color="secondary"  *ngIf="myReminder1 && myReminder2" full (click)="submit()">Save</button>
   <!-- <button full (click)="goToCurrentReminder()">Show current reminders</button> -->
  <!--  <button full (click)="updateInfo()">Updates</button> -->
  </ion-item>

  
</ion-content>

  <!-- cordova.js required for cordova apps -->
  <script src="cordova.js"></script>