<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
 <ion-title class="ptSans">
      Questionnaire
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="home">
  <ion-item text-wrap>
  <!-- <ion-toggle checked="false" [(ngModel)]="dose"></ion-toggle> -->
    <ion-label> Did you take your stool softner?</ion-label>
    <ion-checkbox checked="false" [(ngModel)]="dose"></ion-checkbox>
  </ion-item>
  
  <!-- <ion-item text-wrap>
  <ion-toggle checked="false" [(ngModel)]="sit" (ionChange)="toggleSit()"></ion-toggle>
    <ion-label>  Did you try to sit down to poop in the bathroom?</ion-label>
    <ion-checkbox checked="false" [(ngModel)]="sit" (ionChange)="toggleSit()"></ion-checkbox>
  </ion-item> -->

  <ion-list radio-group text-wrap [(ngModel)]="sit">
  <ion-list-header>
    Did you try to sit down to poop in the bathroom?
  </ion-list-header>

  <ion-item>
    <ion-label>Yes</ion-label>
    <ion-radio name="yes" value="true" (ionChange)="toggleSit()"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>No</ion-label>
    <ion-radio name="no" checked="true" value="false" (ionChange)="toggleSit()"></ion-radio>
  </ion-item>
  </ion-list>

  <ion-item *ngIf="sit == 'true'">
    Click <button  ion-button small round (click)="setCurrentDateTime()">Now</button> to choose current time
  </ion-item>
  
  <ion-item *ngIf="sit == 'true'" text-wrap>
    <ion-label>Or choose the time you went</ion-label>
    <ion-datetime displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>
  
 <!--  <ion-item >
   <ion-toggle checked="false" [(ngModel)]="stool" (ionChange)="toggleStool()"></ion-toggle>
    <ion-label> Did you produce stool?</ion-label>
    <ion-checkbox checked="false" [(ngModel)]="stool" (ionChange)="toggleStool()"></ion-checkbox>
  </ion-item> -->

  <ion-list *ngIf="sit == 'true'" text-wrap radio-group [(ngModel)]="stool">
  <ion-list-header>
    Did you produce stool?
  </ion-list-header>

  <ion-item>
    <ion-label>Yes</ion-label>
    <ion-radio name="yes" value="true" (ionChange)="toggleStool()"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>No</ion-label>
    <ion-radio name="no" checked="true" value="false" (ionChange)="toggleStool()"></ion-radio>
  </ion-item>
  </ion-list>
  
  <div *ngIf="sit == 'true' && stool == 'true'">
    <ion-item text-wrap>
      <ion-label>If so describe your bristol stool</ion-label>
    </ion-item>
    
    <ion-item text-wrap>
      <button ion-button color="light" full round (click)="viewBristolScale()">View Bristol scale for reference</button>
    </ion-item>
    
    <ion-list>
      <ion-item>
        <ion-label>Stool Type</ion-label>
        <ion-select [(ngModel)]="stoolType">
          <ion-option value="1">Type 1</ion-option>
          <ion-option value="2">Type 2</ion-option>
          <ion-option value="3">Type 3</ion-option>
          <ion-option value="4">Type 4</ion-option>
          <ion-option value="5">Type 5</ion-option>
          <ion-option value="6">Type 6</ion-option>
          <ion-option value="7">Type 7</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
  </div>
  <br/>

  <button ion-button color="secondary" full (click)="submit()">Submit</button>

</ion-content>
