<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Set mealtime</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="mealTime">


   <h4>When do you prefer to have your first meal?</h4>

   <ion-item>

    <ion-label>Choose your first time...</ion-label>
    <ion-datetime edited="false" displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="myMealtime1"></ion-datetime>
  </ion-item>

   <ion-item *ngIf="myMealtime1" text-wrap>
     <h4>tips:</h4><br>
     <h4>First reminder should be set around this time.</h4>
   </ion-item>  

   <h4>When do you prefer to have your second meal?</h4>

   <ion-item>

    <ion-label>Choose your second time...</ion-label>
    <ion-datetime edited="false" displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="myMealtime2"></ion-datetime>
  </ion-item>

   <ion-item *ngIf="myMealtime2" text-wrap>
     <h4>tips:</h4><br>
     <h4>Second reminder should be set around this time.</h4>
   </ion-item>  

  <br>
  <ion-item >
   <button ion-button color="secondary" *ngIf="myMealtime1 && myMealtime2" full (click)="submit2()">Save</button>
 <!--   <button full (click)="goToDetails()">Show current mealtimes</button> -->
   <!-- <button full (click)="updateInfo()">Update</button> -->
  </ion-item>

  
</ion-content>