<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Set mealtime</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >


   <h4>When do you prefer to have your first meal?</h4>

   <ion-item>

    <ion-label>Choose your first time...</ion-label>
    <ion-datetime edited="false" displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="myMealtime1"></ion-datetime>
  </ion-item>

   <ion-item *ngIf="myMealtime1" text-wrap>
     <h8>tips:</h8><br>
     <h8>First reminder should be set around this time.</h8>
   </ion-item>  

   <h4>When do you prefer to have your second meal?</h4>

   <ion-item>

    <ion-label>Choose your second time...</ion-label>
    <ion-datetime edited="false" displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="myMealtime2"></ion-datetime>
  </ion-item>

   <ion-item *ngIf="myMealtime2" text-wrap>
     <h8>tips:</h8><br>
     <h8>Second reminder should be set around this time.</h8>
   </ion-item>  

  <br>
  <ion-item >
   <button *ngIf="myMealtime1 && myMealtime2" full (click)="submit()">Submit</button>
   <button full (click)="goToDetails()">Show current mealtimes</button>
  </ion-item>

  
</ion-content>