<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ptSans">
      My Calendar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="calendar">
    <h4><span class="ptSans">{{currentMonth}}, {{currentYear}}</span></h4>
    <button ion-button (click)="goToPreviousMonth()"><ion-icon name="arrow-back"></ion-icon> </button>
    <button ion-button (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon> </button>
   <!--  <button (click)="clear()">Clear</button> -->
    <br/>
    <ion-row>
    <ion-col width-18 *ngFor="let day of daysOfWeek">
    <span>{{day}}</span>
    </ion-col>
    </ion-row>
     <ion-row *ngFor="let i of rows">
      <ion-col class="grid ptSans" width-15 *ngFor="let d of displayCurrentMonth | slice:(i*7):(i+1)*7" 
                    [ngStyle]="{'color': d.color, 'background-color': d.bgColor}">  
        <div class="row responsive-md" >
                
          <h5 style="float:left">{{d.day}}</h5>
          <ion-row *ngIf = "d.url1 != '' || d.url2 != ''">
            <ion-col class="dayGrid">
              <div *ngIf = "d.url1 != ''" style="float:left">
            <label for="url1">Morning:</label>
            <img id="url1" [src]="d.url1" style="width: 25px; height: 25px;"/>
            </div>
            </ion-col>
            <ion-col class="dayGrid">
              <div style="float:left" *ngIf = "d.url2 != ''">
                <label for="url2">Evening:</label>
                <img id="url2" [src]="d.url2" style="width: 25px; height: 25px;"/>
              </div>
            </ion-col>
            <ion-col class="dayGrid">
              <div style="float: left" *ngIf = "d.url1 != '' || d.url2 != ''">
                <a style="cursor:pointer;float:left"  style="width: 20px; height: 20px;" (click)="goToMethod(d)">View Activity</a>
              </div>
            </ion-col>
          </ion-row>

        </div>
      </ion-col>
     </ion-row>
    <!-- </ion-list> -->
     <!-- <p-schedule [events]="events"></p-schedule> -->
</ion-content>
