<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ptSans">
      My Calendar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="calendar">
 <div *ngIf="!hasLoaded">Please Wait...</div>
  <div *ngIf="hasLoaded">
    <h4><span class="ptSans">{{currentMonth}}, {{currentYear}}</span></h4>
    <button ion-button (click)="goToPreviousMonth()"><ion-icon name="arrow-back"></ion-icon> </button>
    <button ion-button (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon> </button>
   <!--  <button (click)="clear()">Clear</button> -->
    <br/>
    <ion-row>
    <ion-col width-18 *ngFor="let day of daysOfWeek">
    <span>{{day}}</span>
    </ion-col>
    </ion-row>
     <ion-row *ngFor="let i of rows">
      <ion-col class="grid ptSans" width-15 *ngFor="let d of displayCurrentMonth | slice:(i*7):(i+1)*7" 
                    [ngStyle]="{'color': d.color, 'background-color': d.bgColor}">  
        <div class="row" >
                
          <h5>{{d.day}}</h5>
          <ion-row *ngIf = "d.url1 != '' || d.url2 != '' || d.url11 != '' || d.url22 != ''">
            <ion-col col-12 class="dayGrid">
              <div *ngIf = "d.url1 !== '' || d.url11 !== ''">
            <label for="url1">AM:</label>
            <img id="url1" *ngIf="d.url1 !== ''" [src]="d.url1" style="width: 15px; height: 15px;"/>
            <!-- <span *ngIf="d.url1 !== ''">:{{d.morningStoolCount}}</span> -->
            <img id="url11" *ngIf="d.url11 !== ''" [src]="d.url11" style="width: 15px; height: 15px;"/>
            <!-- span *ngIf="d.url11 !== ''">:{{d.morningSitCount}}</span> -->
            </div>
            </ion-col>
            <ion-col col-12 class="dayGrid">
              <div *ngIf = "d.url2 !== '' || d.url22 !== ''">
                <label for="url2">PM:</label>
                <img id="url2" *ngIf="d.url2 !== ''" [src]="d.url2" style="width: 15px; height: 15px;"/>
                <!-- span *ngIf="d.url2 !== ''">:{{d.eveningStoolCount}}</span> -->
                <img id="url22" *ngIf="d.url22 !== ''" [src]="d.url22" style="width: 15px; height: 15px;"/>
                <!-- <span *ngIf="d.url22 !== ''">:{{d.eveningSitCount}}</span> -->
              </div>
            </ion-col>
            <ion-col col-12 class="dayGrid">
              <div *ngIf = "d.url1 != '' || d.url2 != '' || d.url11 !== '' || d.url22 !== ''">
                <a style="cursor:pointer;float:left"  style="width: 20px; height: 20px;" (click)="goToMethod(d)">View Activity</a>
              </div>
            </ion-col>
          </ion-row>

        </div>
      </ion-col>
     </ion-row>
     </div>
    <!-- </ion-list> -->
     <!-- <p-schedule [events]="events"></p-schedule> -->
</ion-content>
