.calendar {
}

.grid {
	border: 1px solid #323232;
    background: white;
    padding: 2px;
    height: 50px;
    box-shadow: 20px 30px 30px white;
	}

.grid:hover{
		background: red;
}

.ptSans{
		 font-family: 'PT Sans', sans-serif;
}




.more{

}
